
.summary-table {
    display: grid;
    grid-template-columns: repeat(var(--columns), auto);
    margin-left: 2em;
    margin-right: auto;
    width: fit-content;
    --columns: 1;
}

.summary-table-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.25em;
    border-bottom: 2px solid rgba(140, 130, 115, 0.84);
    grid-column-start: 1;
    grid-column-end: var(--columns);
    --columns: 1;
}

.summary-table-header {
    border-bottom: solid 1px rgba(140, 130, 115, 0.84);
    padding: 0.5em;
}

.summary-table-cell {
    border-bottom: solid 1px rgba(140, 130, 115, 0.27);
    padding: 0.25em;
}

.summary-details {
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
