
html, body {
    background-color: rgb(64, 69, 72);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    background-color: rgb(65, 65, 65);
}

.header-inner, .menuitem {
    background-color: rgb(53, 53, 53);
}

.main {
    background-color: #666666;
}

* {
    color: #EEEEEE;
}

a {
    color: #3391ff;
}

input, select, option, button {
    background-color: #555555;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

::placeholder {
    color: #BBBBBB;
}

hr {
    border-color: #BBBBBB;
}
